extends layouts/main-layout.pug

block content
	if !profileUser
		center
			br
			h1 User not found :(
			br
			a(href="/")
				button#submitPostButton Home
	else
		script.
			var profileUserId = '!{profileUser._id}';
			var selectedTab = '!{selectedTab}';

		- followerCount = profileUser.followers.length;
		- followingCount = profileUser.following.length;

		.profileHeaderContainer
			.coverPhotoSection
				.coverPhotoContainer
					if profileUser.coverPhoto
						img(src=profileUser.coverPhoto, alt="User's cover photo")
					if profileUser._id == userLoggedIn._id
						button.coverPhotoButton(data-toggle="modal" data-target="#coverPhotoUploadModal")
							i.fas.fa-camera
				.userImageContainer
					if profileUser.verifiedBrand
						img(src=profileUser.profilePic, onerror="if (this.src != '/images/profilePic.jpeg') this.src = '/images/profilePic.jpeg';", alt="User profile image", style="border-radius: 10%;")
					else
						img(src=profileUser.profilePic, onerror="if (this.src != '/images/profilePic.jpeg') this.src = '/images/profilePic.jpeg';", alt="User profile image")
					if profileUser._id == userLoggedIn._id
						button.profilePictureButton(data-toggle="modal" data-target="#imageUploadModal")
							i.fas.fa-camera
			.profileButtonsContainer
				if profileUser._id != userLoggedIn._id
					a.profileButton(href=`/messages/${profileUser._id}`)
						i.fas.fa-envelope

					- var profileUserId = profileUser._id.toString();
					- if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
						+createFollowButton(profileUser, true)
					- else
						+createFollowButton(profileUser, false)
			.userDetailsContainer
				- if(profileUser.lastName == null)
					- profileUser.lastName = "";
				- if(profileUser.lastName == "")
					- var nameSpace = "";
				- else
					- var nameSpace = " ";

				//- - var verifiedBrand = profileUser.verifiedBrand ? '<svg viewBox="0 0 22 22" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified Brand" style="height: 1.5em;padding-left:5px;vertical-align: -0.45em;"><g><linearGradient gradientUnits="userSpaceOnUse" id="12-a" x1="4.411" x2="18.083" y1="2.495" y2="21.508"><stop offset="0" stop-color="#f4e72a"></stop><stop offset=".539" stop-color="#cd8105"></stop><stop offset=".68" stop-color="#cb7b00"></stop><stop offset="1" stop-color="#f4ec26"></stop><stop offset="1" stop-color="#f4e72a"></stop></linearGradient><linearGradient gradientUnits="userSpaceOnUse" id="12-b" x1="5.355" x2="16.361" y1="3.395" y2="19.133"><stop offset="0" stop-color="#f9e87f"></stop><stop offset=".406" stop-color="#e2b719"></stop><stop offset=".989" stop-color="#e2b719"></stop></linearGradient><g clip-rule="evenodd" fill-rule="evenodd"><path d="M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z" fill="url(#12-a)"></path><path d="M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z" fill="url(#12-b)"></path><path d="M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z" fill="#d18800"></path></g></g></svg>' : "";
				- var verifiedBrand = profileUser.verifiedBrand ? 'Brand' : "";

				if profileUser.verified && profileUser.admin
					span.displayName #{profileUser.firstName}#{nameSpace}#{profileUser.lastName}
						if profileUser.verifiedBrand
							svg(viewbox='0 0 22 22', data-toggle='tooltip', data-placement='top', title='', data-original-title='Verified Brand', style='height: 1.5em;padding-left:2px;vertical-align: -0.45em;')
								rect(width="10", height="10", x="6", y="6", fill="#000000")
								g
									lineargradient#12-a(gradientunits='userSpaceOnUse', x1='4.411', x2='18.083', y1='2.495', y2='21.508')
										stop(offset='0', stop-color='#f4e72a')
										stop(offset='.539', stop-color='#cd8105')
										stop(offset='.68', stop-color='#cb7b00')
										stop(offset='1', stop-color='#f4ec26')
										stop(offset='1', stop-color='#f4e72a')
									lineargradient#12-b(gradientunits='userSpaceOnUse', x1='5.355', x2='16.361', y1='3.395', y2='19.133')
										stop(offset='0', stop-color='#f9e87f')
										stop(offset='.406', stop-color='#e2b719')
										stop(offset='.989', stop-color='#e2b719')
									g(clip-rule='evenodd', fill-rule='evenodd')
										path(d='M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-a)')
										path(d='M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-b)')
										path(d='M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z', fill='#d18800')
						img(style='height: 1em;padding-left:5px;vertical-align:-0.175em;filter: invert(44%) sepia(91%) saturate(1231%) hue-rotate(185deg) brightness(106%) contrast(101%);', src='/images/badge-check.svg', data-toggle='tooltip', data-placement='top', title='Verified')
						i.fas.fa-kiwi-bird(style='height: 1em;color:#1D9BF0;padding-left:5px;vertical-align:-0.05em;', data-toggle='tooltip', data-placement='top', title='Kiwi Employee')
				else if profileUser.verified
					span.displayName #{profileUser.firstName}#{nameSpace}#{profileUser.lastName}
						if profileUser.verifiedBrand
							svg(viewbox='0 0 22 22', data-toggle='tooltip', data-placement='top', title='', data-original-title='Verified Brand', style='height: 1.5em;padding-left:2px;vertical-align: -0.45em;')
								rect(width="10", height="10", x="6", y="6", fill="#000000")
								g
									lineargradient#12-a(gradientunits='userSpaceOnUse', x1='4.411', x2='18.083', y1='2.495', y2='21.508')
										stop(offset='0', stop-color='#f4e72a')
										stop(offset='.539', stop-color='#cd8105')
										stop(offset='.68', stop-color='#cb7b00')
										stop(offset='1', stop-color='#f4ec26')
										stop(offset='1', stop-color='#f4e72a')
									lineargradient#12-b(gradientunits='userSpaceOnUse', x1='5.355', x2='16.361', y1='3.395', y2='19.133')
										stop(offset='0', stop-color='#f9e87f')
										stop(offset='.406', stop-color='#e2b719')
										stop(offset='.989', stop-color='#e2b719')
									g(clip-rule='evenodd', fill-rule='evenodd')
										path(d='M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-a)')
										path(d='M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-b)')
										path(d='M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z', fill='#d18800')
						img(style='height: 1em;padding-left:5px;vertical-align:-0.175em;filter: invert(44%) sepia(91%) saturate(1231%) hue-rotate(185deg) brightness(106%) contrast(101%);', src='/images/badge-check.svg', data-toggle='tooltip', data-placement='top', title='Verified')
				else if profileUser.admin
					span.displayName #{profileUser.firstName}#{nameSpace}#{profileUser.lastName}
						if profileUser.verifiedBrand
							svg(viewbox='0 0 22 22', data-toggle='tooltip', data-placement='top', title='', data-original-title='Verified Brand', style='height: 1.5em;padding-left:2px;vertical-align: -0.45em;')
								rect(width="10", height="10", x="6", y="6", fill="#000000")
								g
									lineargradient#12-a(gradientunits='userSpaceOnUse', x1='4.411', x2='18.083', y1='2.495', y2='21.508')
										stop(offset='0', stop-color='#f4e72a')
										stop(offset='.539', stop-color='#cd8105')
										stop(offset='.68', stop-color='#cb7b00')
										stop(offset='1', stop-color='#f4ec26')
										stop(offset='1', stop-color='#f4e72a')
									lineargradient#12-b(gradientunits='userSpaceOnUse', x1='5.355', x2='16.361', y1='3.395', y2='19.133')
										stop(offset='0', stop-color='#f9e87f')
										stop(offset='.406', stop-color='#e2b719')
										stop(offset='.989', stop-color='#e2b719')
									g(clip-rule='evenodd', fill-rule='evenodd')
										path(d='M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-a)')
										path(d='M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-b)')
										path(d='M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z', fill='#d18800')
						i.fas.fa-kiwi-bird(style='height: 1em;color:#1D9BF0;padding-left:5px;vertical-align:-0.05em;', data-toggle='tooltip', data-placement='top', title='Kiwi Employee')
				else if profileUser.verifiedGovernment
					span.displayName #{profileUser.firstName}#{nameSpace}#{profileUser.lastName}
						i.fas.fa-circle-check(style='margin-left:5px;color:#696969;' data-toggle='tooltip' data-placement='top' title='Government Affiliated Account')
				else
					span.displayName #{profileUser.firstName}#{nameSpace}#{profileUser.lastName}
						if profileUser.verifiedBrand
							svg(viewbox='0 0 22 22', data-toggle='tooltip', data-placement='top', title='', data-original-title='Verified Brand', style='height: 1.5em;padding-left:2px;vertical-align: -0.45em;')
								rect(width="10", height="10", x="6", y="6", fill="#000000")
								g
									lineargradient#12-a(gradientunits='userSpaceOnUse', x1='4.411', x2='18.083', y1='2.495', y2='21.508')
										stop(offset='0', stop-color='#f4e72a')
										stop(offset='.539', stop-color='#cd8105')
										stop(offset='.68', stop-color='#cb7b00')
										stop(offset='1', stop-color='#f4ec26')
										stop(offset='1', stop-color='#f4e72a')
									lineargradient#12-b(gradientunits='userSpaceOnUse', x1='5.355', x2='16.361', y1='3.395', y2='19.133')
										stop(offset='0', stop-color='#f9e87f')
										stop(offset='.406', stop-color='#e2b719')
										stop(offset='.989', stop-color='#e2b719')
									g(clip-rule='evenodd', fill-rule='evenodd')
										path(d='M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-a)')
										path(d='M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z', fill='url(#12-b)')
										path(d='M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z', fill='#d18800')
				span.username @#{profileUser.username}

				.followersContainer
					a(href=`/profile/${profileUser.username}/followers`)
						span#followersValue.value #{followerCount}
						span Followers
					a(href=`/profile/${profileUser.username}/following`)
						span.value #{followingCount}
						span Following
				if profileUser._id == userLoggedIn._id
					- var editBioButton = `<button data-toggle="modal" data-target="#changeBioModal"><i class="fas fa-edit" style="color:var(--blue)"></i></button>`
				else
					- var editBioButton = ``;
				span.bio(style='margin-top:10px;') #{profileUser.bio} !{editBioButton}
				
		.tabsContainer
			+createTab("Posts", `/profile/${profileUser.username}`, selectedTab != "replies")
			+createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")

		.pinnedPostContainer
		.postsContainer

		+createPostModals(userLoggedIn)
		+createImageUploadModal()
		+createCoverPhotoUploadModal()
		+createChangeBioModal(userLoggedIn)

block scripts
	script(src="/js/profile.js")
