extends layouts/main-layout.pug

block content
	if !profileUser
		center
			br
			h1 User not found :(
			br
			a(href="/")
				button#submitPostButton Home
	else
		script. 
			var profileUserId = '!{profileUser._id}';
			var selectedTab = '!{selectedTab}';

		.profileHeaderContainer
			.coverPhotoContainer

				.userImageContainer
					img(src=profileUser.profilePic, alt="User profile image")
			.profileButtonsContainer
				if profileUser._id != userLoggedIn._id
					a.profileButton(href=`/messages/${profileUser._id}`)
						i.fas.fa-envelope

					- var profileUserId = profileUser._id.toString();
					- if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
						+createFollowButton(profileUser, true)
					- else
						+createFollowButton(profileUser, false)
			.userDetailsContainer
				if profileUser.verified && profileUser.admin
					span.displayName #{profileUser.firstName} #{profileUser.lastName}
						img(style='height: 1em;padding-left:5px;vertical-align:-0.175em;filter: invert(44%) sepia(91%) saturate(1231%) hue-rotate(185deg) brightness(106%) contrast(101%);', src='/images/badge-check.svg', data-toggle='tooltip', data-placement='top', title='Verified')
						i.fa-solid.fa-hammer(style='height: 1em;padding-left:5px;vertical-align:-0.05em;', data-toggle='tooltip', data-placement='top', title='Admin')
				else if profileUser.verified
					span.displayName #{profileUser.firstName} #{profileUser.lastName}
						img(style='height: 1em;padding-left:5px;vertical-align:-0.175em;filter: invert(44%) sepia(91%) saturate(1231%) hue-rotate(185deg) brightness(106%) contrast(101%);', src='/images/badge-check.svg', data-toggle='tooltip', data-placement='top', title='Verified')
				else if profileUser.admin
					span.displayName #{profileUser.firstName} #{profileUser.lastName}
						i.fa-solid.fa-hammer(style='height: 1em;padding-left:5px;vertical-align:-0.05em;', data-toggle='tooltip', data-placement='top', title='Admin')
				else
					span.displayName #{profileUser.firstName} #{profileUser.lastName}
				span.username @#{profileUser.username}
				span.bio #{profileUser.bio}

				.followersContainer
					a(href=`/profile/${profileUser.username}/followers`)
						span.value #{0}
						span Followers
					a(href=`/profile/${profileUser.username}/following`)
						span.value #{0}
						span Following
		.tabsContainer
			+createTab("Posts", `/profile/${profileUser.username}`, selectedTab != "replies")
			+createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")

		.postsContainer

		+createPostModals(userLoggedIn)

block scripts
	script(src="/js/profile.js")