extends layouts/login-layout.pug

block content
  .loginContainer
    h1 Register
    form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

      p.errorMessage #{errorMessage}

      input(type="text", name="firstName", placeholder="First Name", value=firstName, required="")
      input(type="text", name="lastName", placeholder="Last Name (Optional)", value=lastName)
      input(type="text", name="username", placeholder="Username", value=username, required="")
      input(type="email", name="email", placeholder="Email", value=email required="")
      input#password(type="password", name="password", placeholder="Password", required="")
      input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
      input#secretCode(type="text", name="secretCode", placeholder="Signup Code", required="")
      p We are currently invite only.
      input(type="submit", value="Register")
    a(href="/login") Have an account? Sign in.
    br
    a(href="/legal") By signing up, you agree to our Terms of Service, Privacy Policy, Disclaimer and all agreements on our Legal page.

  script.
    var passwordField = document.getElementById("password");
    var passwordConfirmField = document.getElementById("passwordConf");

    var form = document.getElementById("registerForm");

    function validateForm() {
      if (passwordField.value != passwordConfirmField.value) {
        alert("Password don't match, please try again.")
      }
      else {
        form.submit();
      }
    }