mixin createPostForm(userLoggedIn)
	.postFormContainer
		.userImageContainer
			img(src=userLoggedIn.profilePic, alt="User's profile picture")
		.textareaContainer
			textarea#postTextarea(placeholder="What's happening?")
			.buttonsContainer
				button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
	#replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#replyModalLabel.modal-title Reply
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					#originalPostContainer
					.postFormContainer
						.userImageContainer
							img(src=userLoggedIn.profilePic, alt="User's profile picture")
						.textareaContainer
							textarea#replyTextarea(placeholder="What's happening?")
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
					button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()
	#deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#deletePostModalLabel.modal-title Delete this post?
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					p You won't be able to undo this.
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
					button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedIn)
	+createReplyModal(userLoggedIn)
	+createDeletePostModal()

mixin createFollowButton(user, isFollowing)
	- text = isFollowing ? "Unfollow" : "Follow"
	- buttonClass = isFollowing ? "followButton following" : "followButton"
	if isFollowing
		button(class=buttonClass, data-user=user._id)
			i.fas.fa-user-minus
			span #{text}
	else
		button(class=buttonClass, data-user=user._id)
			i.fas.fa-user-plus
			span #{text}

mixin createTab(name, href, isSelected)
	- className = isSelected ? "tab active" : "tab"
	a(class=className, href=href)
		span #{name}

mixin createImageUploadModal()
	- const phrases = ["A picture is worth a thousand words, but a new profile picture is worth at least tens of followers.", "A picture is worth a thousand words, but a new profile picture is worth at least tens of followers.", "Your profile picture is the first thing people see. Make it count!","Your profile picture is the first thing people see. Make it count!","Your profile picture is the first thing people see. Make it count!", "How about ditching that old profile pic and giving us a fresh face? We promise not to judge... too much.", "How about a profile picture that's not just a picture of your pet? Unless your pet is like really, really ridiculously good-looking.", "How about a profile picture that's not just a picture of your pet? Unless your pet is like really, really ridiculously good-looking."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#imageUploadModalLabel.modal-title Upload a new profile image
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					p= randomPhrase
					input#filePhoto(type="file", name="filePhoto")

					.imagePreviewContainer
						img#imagePreview
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#imageUploadButton.btn.btn-primary(type='button') Upload
