mixin createPostForm(userLoggedIn)
	.postFormContainer
		.userImageContainer
			img(src=userLoggedIn.profilePic, onerror="if (this.src != '/images/profilePic.jpeg') this.src = '/images/profilePic.jpeg';" alt="User's profile picture")
		.textareaContainer
			textarea#postTextarea(placeholder="What's happening?")
			.buttonsContainer
				button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
	#replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#replyModalLabel.modal-title Reply
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					#originalPostContainer
					.postFormContainer
						.userImageContainer
							img(src=userLoggedIn.profilePic, alt="User's profile picture")
						.textareaContainer
							textarea#replyTextarea(placeholder="What's happening?")
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
					button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()
	- const phrases = ["You know what they say - 'If at first you don't succeed, delete your post and try again.'",
	"Let's be real, that post was a bit of a hot mess. Deleting it might just be the best decision you'll make all day.",
	"You're not really going to leave that cringey post up for all your followers to see, are you? Delete it like it never happened.",
	"Sure, you could keep that embarrassing post up for all eternity, but why not do yourself a favor and delete it? Trust me, your future self will thank you.",
	"I'm not saying that post was bad, but...okay, fine, I am saying that. Delete it and start fresh - you'll thank me later."	]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#deletePostModalLabel.modal-title Delete this post?
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					p= randomPhrase
					p You won't be able to undo this.
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
					button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedIn)
	+createReplyModal(userLoggedIn)
	+createDeletePostModal()

mixin createFollowButton(user, isFollowing)
	- text = isFollowing ? "Unfollow" : "Follow"
	- buttonClass = isFollowing ? "followButton following" : "followButton"
	if isFollowing
		button(class=buttonClass, data-user=user._id)
			i.fas.fa-user-minus
			span #{text}
	else
		button(class=buttonClass, data-user=user._id)
			i.fas.fa-user-plus
			span #{text}

mixin createTab(name, href, isSelected)
	- className = isSelected ? "tab active" : "tab"
	a(class=className, href=href)
		span #{name}

mixin createImageUploadModal()
	- const phrases = ["A picture is worth a thousand words, but a new profile picture is worth at least tens of followers.", "A picture is worth a thousand words, but a new profile picture is worth at least tens of followers.", "Your profile picture is the first thing people see. Make it count!","Your profile picture is the first thing people see. Make it count!","Your profile picture is the first thing people see. Make it count!", "How about ditching that old profile pic and giving us a fresh face? We promise not to judge... too much.", "How about a profile picture that's not just a picture of your pet? Unless your pet is like really, really ridiculously good-looking.", "How about a profile picture that's not just a picture of your pet? Unless your pet is like really, really ridiculously good-looking."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#imageUploadModalLabel.modal-title Upload a new profile image
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					p= randomPhrase
					input#filePhoto(type="file", name="filePhoto")

					.imagePreviewContainer
						img#imagePreview
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#imageUploadButton.btn.btn-primary(type='button') Upload

mixin createCoverPhotoUploadModal()
	- const phrases = ["Looks like your cover photo could use a little love. Time for a refresh, don't you think?","Well, your old cover photo was...certainly a choice. Let's try something new, shall we?","It's time to give your profile the Hollywood treatment with a brand new cover photo!","Listen, I'm not saying your old cover photo was terrible, but...okay, fine, I am saying that. Let's do better this time around, yeah?","Your old cover photo was like a relic from the MySpace era. Let's bring your profile into the modern age."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoUploadModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					p= randomPhrase
					input#coverPhoto(type="file", name="coverPhoto")

					.imagePreviewContainer
						img#coverPreview
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#coverPhotoButton.btn.btn-primary(type='button') Upload
