mixin createPostForm(userLoggedIn)
	.postFormContainer
		.userImageContainer
			if userLoggedIn.verifiedBrand
				img(src=userLoggedIn.profilePic, onerror="if (this.src != '/images/profilePic.jpeg') this.src = '/images/profilePic.jpeg';", alt="User profile image", style="border-radius: 10%;")
			else
				img(src=userLoggedIn.profilePic, onerror="if (this.src != '/images/profilePic.jpeg') this.src = '/images/profilePic.jpeg';", alt="User profile image")
		.textareaContainer
			textarea#postTextarea(placeholder="What's happening?")
			.buttonsContainer
				button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
	#replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#replyModalLabel.modal-title Reply
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					#originalPostContainer
					.postFormContainer
						.userImageContainer
							img(src=userLoggedIn.profilePic, alt="User's profile picture")
						.textareaContainer
							textarea#replyTextarea(placeholder="What's happening?")
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
					button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()
	- const phrases = ["You know what they say - 'If at first you don't succeed, delete your post and try again.'","Let's be real, that post was a bit of a hot mess. Deleting it might just be the best decision you'll make all day.","You're not really going to leave that cringey post up for all your followers to see, are you? Delete it like it never happened.","Sure, you could keep that embarrassing post up for all eternity, but why not do yourself a favor and delete it? Trust me, your future self will thank you.","I'm not saying that post was bad, but...okay, fine, I am saying that. Delete it and start fresh - you'll thank me later."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#deletePostModalLabel.modal-title Delete this post?
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					i
						p= randomPhrase
					p You won't be able to undo this.
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
					button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedIn)
	+createReplyModal(userLoggedIn)
	+createDeletePostModal()
	+createPinnedPostModal()
	+createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
	- text = isFollowing ? "Unfollow" : "Follow"
	- buttonClass = isFollowing ? "followButton following" : "followButton"
	if isFollowing
		button(class=buttonClass, data-user=user._id)
			i.fas.fa-user-minus
			span #{text}
	else
		button(class=buttonClass, data-user=user._id)
			i.fas.fa-user-plus
			span #{text}

mixin createTab(name, href, isSelected)
	- className = isSelected ? "tab active" : "tab"
	a(class=className, href=href)
		span #{name}

mixin createImageUploadModal()
	- const phrases = ["A picture is worth a thousand words, but a new profile picture is worth at least tens of followers.", "A picture is worth a thousand words, but a new profile picture is worth at least tens of followers.", "Your profile picture is the first thing people see. Make it count!","Your profile picture is the first thing people see. Make it count!","Your profile picture is the first thing people see. Make it count!", "How about ditching that old profile pic and giving us a fresh face? We promise not to judge... too much.", "How about a profile picture that's not just a picture of your pet? Unless your pet is like really, really ridiculously good-looking.", "How about a profile picture that's not just a picture of your pet? Unless your pet is like really, really ridiculously good-looking."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#imageUploadModalLabel.modal-title Upload a new profile image
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					i
						p= randomPhrase
					input#filePhoto(type="file", name="filePhoto")

					.imagePreviewContainer
						img#imagePreview
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#imageUploadButton.btn.btn-primary(type='button') Upload

mixin createCoverPhotoUploadModal()
	- const phrases = ["Looks like your cover photo could use a little love. Time for a refresh, don't you think?","Well, your old cover photo was...certainly a choice. Let's try something new, shall we?","It's time to give your profile the Hollywood treatment with a brand new cover photo!","Listen, I'm not saying your old cover photo was terrible, but...okay, fine, I am saying that. Let's do better this time around, yeah?","Your old cover photo was like a relic from the MySpace era. Let's bring your profile into the modern age."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoUploadModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					i
						p= randomPhrase
					input#coverPhoto(type="file", name="coverPhoto")

					.imagePreviewContainer
						img#coverPreview
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#coverPhotoButton.btn.btn-primary(type='button') Upload

mixin createPinnedPostModal()
	- const phrases = ["Pinning a post is like putting on your fanciest outfit - let's make sure your profile is dressed to impress.","Let's face it, that post is like the only good part of your profile. Pin it and pretend the rest doesn't exist.","Let's face it, that post is carrying the whole weight of your profile. Pin it to the top and take some of the pressure off the other posts.","That post is like the life raft in the ocean of your profile. Pin it to the top and hope it keeps the rest of your profile from sinking.","Pinning a post is like putting on your superhero cape - let's hope the post you picked is the hero that saves your profile from mediocrity."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#confirmPinModalLabel.modal-title Pin this post?
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					i
						p= randomPhrase
					p This post will be pinned to the top of your profile, you can unpin it at any time. You can only pin one post at a time.
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#pinPostButton.btn.btn-primary(type='button') Pin

mixin createUnpinPostModal()
	- const phrases = ["You've had that post pinned for so long, it's starting to grow cobwebs. It's time to unpin and let some fresh air in."]
	- const randomPhrase = phrases[Math.floor(Math.random() * phrases.length)]
	#unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#unpinModalLabel.modal-title Unpin this post?
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					i
						p= randomPhrase
					p This post will be unpinned, you can pin it again at any time.
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#unpinPostButton.btn.btn-primary(type='button') Unpin

mixin createChatImage(chatData, userLoggedIn)
	if(!chatData)
		return 

	- var i = 0
	- var maxImagesToShow = 4
	- var remainingUsers = chatData.users.length - maxImagesToShow
	- remainingUsers-- // We wont show the current user in the chat images

	.chatImagesContainer
		if remainingUsers > 0
			.userCount
				span +#{remainingUsers+1}

		each user in chatData.users
			if chatData.users.length != 1 && user._id == userLoggedIn._id
				- continue
			else if i >= maxImagesToShow
				- break

			img(src=user.profilePic alt="User's profile picture", title=user.firstName)
			- i++

mixin createChatNameModal(chat)
	#chatNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='chatNameModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#chatNameModalLabel.modal-title Change the chat name
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					input#chatNameTextbox(type="text", placeholder="Enter a new chat name...", value=chat.chatName)
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#chatNameButton.btn.btn-primary(type='button') Save

mixin createSettingsModals()
	+createChangeUsernameModal()

mixin createChangeNameModal(user)
	#changeNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='changeNameModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#changeNameModalLabel.modal-title Change your name
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					span.errorMessage.errorMessageName
					span(style="font-weight:800;") First name 
					input#firstNameTextbox(type="text", placeholder="Enter your first name...", value=user.firstName)
					span(style="font-weight:800;") <br>Last name (optional) 
					input#lastNameTextbox(type="text", placeholder="Enter your last name...", value=user.lastName)
					p
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#changeNameButton.btn.btn-primary(type='button') Save

mixin createChangeUsernameModal()
	#changeUsernameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='changeUsernameModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#changeUsernameModalLabel.modal-title Change your username
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				.modal-body
					span.errorMessage.errorMessageUsername
					span(style="font-weight:800;") @
					input#changeUsernameTextbox(type="text", placeholder="Enter a new username...")
					p
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button#changeUsernameButton.btn.btn-primary(type='button') Save